services:
  server:
    image: chat-test-server
    build: ./server
    container_name: chat-server
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - chat-network
    restart: unless-stopped

  client:
    image: chat-test-client
    build: ./client
    container_name: chat-client
    ports:
      - "5173:5173"
    depends_on:
      - server
    environment:
      # Dejar vacío para detección automática, o usar la IP de AWS
      # VITE_SOCKET_URL=http://52.91.54.129:3000
    networks:
      - chat-network
    restart: unless-stopped

networks:
  chat-network:
    driver: bridge
